#subaccordion{
	margin: 0;
	margin-bottom: 5px;
}

.form-screen{
	width: 90%; 
	min-width: 800px; 
	margin: 0 auto;
}

.form-control{
	margin-bottom: 5px;	
	width: 300px;
}

p.control-label{
	margin-left: 15px;	
}

#brstable{
	width: fit-content;
	display:block;	
}

/*
.thead:hover::after {
	content: attr(data-title); 
    position: absolute;
    left: 65%; top: 30%;
    z-index: 1; 
	background: rgba(255,255,255,0.7);
    color: #999;
    font-size: 16px; 
    padding: 5px 10px;
    border: 1px solid #999;  
}
*/

/*
.form-control1{
	margin-bottom: 5px;	
	width: 300px;
}
*/
.form-group{
	clear: both;
	margin: 0;
	padding-top: 5px;
}

#deanFilter {
	display: block;
	margin-bottom: 5px;
}

.hide{display:none;}

.spnTitle{
padding: 0 0 1px 0!important;
border-bottom: 1px solid #C9C9C9!important;
text-shadow: 0px 0px 0px rgb(57, 41, 119)!important;
}

.table th, .table td {
	/*padding: 4px 8px 4px 8px!important;*/
}

.scrollable-menu {
    height: auto;
    max-height: 240px;
    overflow-x: hidden;
}

.percent-progress {
	text-align: center;
}

.percent-progress-small {
	color: #D9534F;
}

.percent-progress-medium {
	color: #EC971F;
}

.percent-progress-high {
	color: #286090;
}

.percent-progress-max {
	color: #449D44;
}

.user-info{
	margin-left: 15px;
	clear: both;
}

.grid tr:hover{
	cursor: pointer;
}

img[alt="Brand"]{
	margin-left: 15px;
}

/* Table CUD buttons and space between */
button.btn.space.btn-success{
	width: 100px !important;
	margin: 0 4px 0 0px;
}

.space{
	width: 100px !important;
	margin: 0 4px 0 4px;
}

.btn-create {
	height: 28px;
    padding-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

.btn-edit {
	height: 28px;
    padding-top: 0px;
    font-size: 18px;
    transform: rotate(135deg) translate3d(-2px, 10px, 0px);
    margin-bottom: -14px;
    margin-left: 10px;
}

.user-info h5+span{
	display:block;
}